@require 'inc/sprites/*.css'

.easyShadow
	display inline-block
	.fluidTable
		height 100%
		width  100%

.shadowGroupNorth
.shadowGroupSouth
	width 100%

.shadowGroupWest
.shadowGroupEast
	height 100%

.box_shadow_c
.box_shadow_n
	background-repeat repeat-x
	width auto
.box_shadow_g
.box_shadow_j
	background-repeat repeat-y
	height 100%
